<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="ClassLib"
               publicKeyToken="9d5b36c567f9f849" />
            <bindingRedirect oldVersion="2.0.0.0"
                             newVersion="1.0.0.0"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
